<div class="mt-3">
    <form method="POST" action="">
  <div class="mb-3">
    <label for="search-input" >Nhập thông tin</label>
    <input type="text" name="q" class="form-control" id="search-input"  placeholder="nhập vào đây...">
  </div>
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>
</form>
</div>